label {
	cursor: pointer;
}
ul {
	list-style-type: none;
}
ul li {
	margin-left: -20px;
}
li {
	padding: 2px;
}
.export, .example {
	border: 1px solid black;
}
.example {
    height: 406px; width: 525px;
}
.export {
    padding: 2px;
}
body {
	margin: 0 90px;
}
#container-right {
	float: right; display: flex; flex-direction: row; width: 50%; height: 700px;
}
embed {
	z-index: 998; flex: auto;
}
#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
#modal-content {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}
#modal form {
    display: grid; grid-gap: 5px; grid-template-columns: repeat(auto-fill, minmax(175px,1fr)); max-height: calc(80vh - 200px); overflow-y: auto;
}